{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block links %}
{% if user.is_authenticated %}
<li class="nav__item">
    <a href="/account/logout" class="nav__link">Logout</a>
</li>
{% else %}
<li class="nav__item">
    <a href="/account/login" class="nav__link">Login</a>
</li>
<li class="nav__item">
    <a href="/account/signup" class="nav__link">Sign In</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<main class="main" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <section class="sign-out" id="sign-out" style="max-width: 400px; padding: 1rem; text-align: center; background-color: #f5f5f5; border-radius: 10px;">
        <div class="sign-out__container">
            <h1 class="sign-out__title" style="font-size: 2rem; margin-bottom: 2rem;color:black;">Password Reset</h1>
            <p style="color: black;"><strong>Note:</strong> you are already logged in as sagar.</p>
            <p style="color: black;">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            <form method="POST" action="/account/password/reset/" class="password_reset" style="max-width: 300px; margin: 0 auto; padding: 1rem; background-color: #f5f5f5; border-radius: 10px;">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <p>
        <label for="id_email" style="color: black; font-size: 18px; margin-bottom: 5px;">E-mail:</label>
        <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email" style="width: 100%; padding: 0.5rem; border: none; border-bottom: 2px solid #333; outline: none; font-size: 16px;">
    </p>
    <input type="submit" value="Reset My Password" style="width: 100%; padding: 0.5rem; margin-top: 1rem; background-color: purple; color: #fff; font-size: 18px; border: none; cursor: pointer;">
</form>
            <p style="color: black;">Please contact us if you have any trouble resetting your password.</p>
        </div>
    </section>
</main>
<style>
    label {
        color: black;
    }
</style>
{% endblock %}
