{% extends "account/base.html" %}
{% load i18n %}
{% block links %}
{% if user.is_authenticated %}
<li class="nav__item">
    <a href="/account/logout" class="nav__link">Logout</a>
</li>
{% else %}
<li class="nav__item">
    <a href="/account/login" class="nav__link">Login</a>
</li>
<li class="nav__item">
    <a href="/account/signup" class="nav__link">Sign In</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; padding: 0;">
    <div style="max-width: 400px; padding: 20px; background-color: #ffffff; text-align: center; border: 1px solid #e0e0e0; border-radius: 5px;color:black;">
        <h1 style="font-size: 24px; margin-top: 0;color:black;">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        <br>
         {% if token_fail %}
         {% url 'account_reset_password' as passwd_reset_url %}
        <p style="color: black;">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a
            <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
         {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}