{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block links %}
{% if user.is_authenticated %}
<li class="nav__item">
    <a href="/account/logout" class="nav__link">Logout</a>
</li>
{% else %}
<li class="nav__item">
    <a href="/account/login" class="nav__link">Login</a>
</li>
<li class="nav__item">
    <a href="/account/signup" class="nav__link">Sign In</a>
</li>
{% endif %}
{% endblock %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; padding: 0;">
    <div style="max-width: 400px; padding: 20px; background-color: #ffffff; text-align: center; border: 1px solid #e0e0e0; border-radius: 5px;color:black;">
        <h1 style="font-size: 24px; margin-top: 0;color:black;">{% trans "Login Cancelled" %}</h1>
    {% url 'account_login' as login_url %}
        <br>
        <p style="font-size: 14px;">{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>

    </div>
</div>
{% endblock %}