#map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #202125;
  }

  /* .left {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.left {
  
  padding: 20px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Aligns elements to the start of the div */
  background-color: #202125; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
  box-sizing: border-box;
}

.right {
    flex: 2;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#floating-panel, form {
  width: 100%;
  margin-bottom: 10px; /* Space between the floating panel, form, and button */
  box-sizing: border-box;
}

#floating-panel input[type="button"] {
  margin: 0 5px 0 0; /* Space between buttons */
  padding: 10px;
  border: 1px solid green;
  background-color: #202125;;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.form-group {
  margin-right: 20px; /* Space between form groups */
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px; /* Space between label and input */
}

.form-group input[type="text"], #criteria-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #89b5f7;
  margin-bottom: 10px; /* Space between input/select and the next element */
}

.input-btn {
  padding: 10px 20px;
  border: 1px solid yellow;
  background-color: #202125;;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-start; /* Aligns button to the start of the div */
}

label[for="criteria-select"] {
  color: white;
  font-family:'Courier New', Courier, monospace
}