<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCN6iTPFBwFrGm4nKPvhLQE6kh1wfJSAEg</string>
	<key>GCM_SENDER_ID</key>
	<string>352009150596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snapTrash</string>
	<key>PROJECT_ID</key>
	<string>snaptrash-3f1c9</string>
	<key>STORAGE_BUCKET</key>
	<string>snaptrash-3f1c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352009150596:ios:978433b0792912124ea2d1</string>
</dict>
</plist>