<!--
This template extends the 'base/main.html' template and displays a form for user sign in.
The form includes fields for username and password, and a checkbox to show/hide the password.
The form is submitted to the '/login' URL using the POST method.
-->
{% extends 'base/main.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block content %}

<h3>User Sign In</h3>

<div class="container">

    <form id="signinform" method="POST" action="/login">
        {% csrf_token %}
        <label for="username">Username</label>
        {{form.username}}

        <label for="password">Password</label>
        {{form.password}}

        <label class="check-container">Show Passwords
            <input type="checkbox" onclick="showPword()">
            <span class="checkmark"></span>
        </label>

        <button type="submit">Sign in</button>
    </form>

</div>

{% endblock %}


{% block extend_footer %}

{% endblock %}