input:focus {
    outline: 0;
  }
  
  input, span, label {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 5px;
    padding: 3px;
    border: none;
    font-size: 20px;
  }
  
  input.question {
    font-size: 30px;
    font-weight: 200;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 90%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    /* Hack to make "rows" attribute apply in Firefox. */
  }
  
  input.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 20%;
    border-top: 1px solid #95b795;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
  input.question:focus + label,
  input.question:valid + label {
    width: 60%;
    height: auto;
    border-color: #8ad08a;
  }
  
  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -80px;
    font-size: 20px;
    color: #333;
  }
  
  input.question:valid + label {
    border-color: #8ad08a;
  }
  
  input.question:invalid {
    box-shadow: none;
  }
  
  input.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 30px;
    top: -50px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  
  input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 5px 0 0 0;
    padding: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background: #EEE;
  }
  
  input[type="submit"]:active {
    background: #999;
  }
  
  input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
  }
  
  input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
  }
  
  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
  

/* CSS */
.button-56 {
  align-items: center;
  background-color: #8ad08a;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 20px;
  text-align: center;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: white;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 20px;
  }
}