<!--
This template extends the 'base/main.html' template and provides a form to generate routes using Google Maps API. It contains input fields for the starting address, destination address, and two way points. It also includes hidden input fields to store the latitude and longitude values of the addresses. The script at the bottom of the template initializes the Google Maps API with the provided API key and country code.
-->
{% extends 'base/main.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}

<h3>Generate Routes</h3>

<div class="container">

    <label for="id-google-address-a">Start Address</label>
    <input type="text" placeholder="*Begin typing starting address" id="id-google-address-a" name="google_address_a">

    <label for="id-google-address-c">Way point 1</label>
    <input type="text" placeholder="*Begin typing address" id="id-google-address-c" name="google_address_c">

    <label for="id-google-address-d">Way point 2</label>
    <input type="text" placeholder="*Begin typing address" id="id-google-address-d" name="google_address_d">

    <label for="id-google-address-b">Destination Address</label>
    <input type="text" placeholder="*Begin typing destination address" id="id-google-address-b" name="google_address_b">




    <input type="hidden" class="geo" id="id-lat-a" value="">
    <input type="hidden" class="geo" id="id-long-a" value="">
    <input type="hidden" class="geo" id="id-lat-b" value="">
    <input type="hidden" class="geo" id="id-long-b" value="">
    <input type="hidden" class="geo" id="id-lat-c" value="">
    <input type="hidden" class="geo" id="id-long-c" value="">
    <input type="hidden" class="geo" id="id-lat-d" value="">
    <input type="hidden" class="geo" id="id-long-d" value="">


</div>

{% endblock %}

{% block extend_footer %}


<script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";
    var base_country = "{{base_country|safe}}";

</script>

<script src="{% static 'js/waypoints.js' %}"></script>


{% endblock %}