.i-phone1415-pro-max22-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.i-phone1415-pro-max22-i-phone1415-pro-max22 {
  width: 100%;
  height: 932px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.i-phone1415-pro-max22-emojionemonotonewhitecircle {
  top: 461px;
  left: 210px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.i-phone1415-pro-max22-image2 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 932px;
  position: absolute;
}
.i-phone1415-pro-max22-logoswhatsappicon {
  top: 755px;
  left: 43px;
  width: 60px;
  height: 61px;
  position: absolute;
}
.i-phone1415-pro-max22-rectangle40 {
  top: 864px;
  left: 0px;
  width: 430px;
  height: 68px;
  position: absolute;
}
.i-phone1415-pro-max22-icsharparrowbackios {
  top: 877px;
  left: 72px;
  width: 42px;
  height: 42px;
  position: absolute;
}
.i-phone1415-pro-max22-materialsymbolscircleoutline {
  top: 880px;
  left: 195px;
  width: 39px;
  height: 39px;
  position: absolute;
}
.i-phone1415-pro-max22-streamlineinterfacesettingmenu1buttonparallelhoriz {
  top: 883px;
  left: 315px;
  width: 36px;
  height: 38px;
  position: absolute;
}
.i-phone1415-pro-max22-healthiconsphonenegative {
  top: 756px;
  left: 135px;
  width: 60px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
}
.i-phone1415-pro-max22-group {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max22-clippathgroup {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max22-healthicons-phone-negative0 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max22-vector {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.i-phone1415-pro-max22-group1 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max22-vector1 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.i-phone1415-pro-max22-icsharpphone {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.i-phone1415-pro-max22-logosspotifyicon {
  top: 759px;
  left: 237px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.i-phone1415-pro-max22-group2 {
  top: 756px;
  left: 234px;
  width: 59px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.i-phone1415-pro-max22-vector2 {
  top: 19.53489875793457px;
  left: 11.800372123718262px;
  width: 38px;
  height: 22px;
  position: absolute;
}
.i-phone1415-pro-max22-vector3 {
  top: 0px;
  left: 0px;
  width: 59px;
  height: 59px;
  position: absolute;
}
.i-phone1415-pro-max22-image3 {
  top: 93px;
  left: 0px;
  width: 430px;
  height: 144px;
  position: absolute;
}
.i-phone1415-pro-max22-image21474836482107841 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 38px;
  position: absolute;
}
.i-phone1415-pro-max22-image1 {
  top: 756px;
  left: 332px;
  width: 74px;
  height: 62px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 13px;
}
