{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block content %}
{% autoescape off %}{% blocktrans %}
<h1 style="font-size: 24px; margin-top: 0;color:black;">You're receiving this e-mail because you or someone else has requested a password for your user account.
It can be safely ignored if you did not request a password reset.
Click the link below to reset your password.</h1>{% endblocktrans %}<br>
<a class="button" href="{{ password_reset_url }}" style="width: 100%; padding: 0.5rem; margin-top: 1rem; background-color: purple; color: #fff; font-size: 18px; border: none; cursor: pointer;">Click Here!</a><br>
{% if username %}
{% blocktrans %}
<br><h3 style="font-size: 24px; margin-top: 0;color:black;">In case you forgot, your username is {{ username }}.</h3>{% endblocktrans %}{% endif %}{% endautoescape %}{% endblock %}
