Flask==1.1.2
PyPDF2==3.0.1
gunicorn==20.0.4
Jinja2==2.11.3
click==7.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
firebase_admin==6.2.0
openai==0.27.7
langchain==0.0.174
gcloud==0.18.3
google_cloud_firestore==2.11.1
google-api-core==2.11.1
openpyxl==3.1.2
googlemaps==4.10.0
requests==2.20.0
