@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:wght@300&display=swap");

.googlemap {
  width: 100%;
  height: 600px;
  z-index: 1;
  position: relative;
}

.map_body {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.map_injuredalert {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
  padding: 10px;
  transition: opacity 0.5s;
}

.map_injuredalert.hidden {
  opacity: 0;
  pointer-events: none;
}

.map_injurehead {
  color: #1e1e1e;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: bold;
  font-weight: 600;
  text-transform: capitalize;
}

.map_injurebody {
  color: #606060;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.map_injuredbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 8px;
}

.map_notinjuredbtn {
  display: flex;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #e4e4e4 0%, #dedede 100%);
}

.map_injuredbtn {
  display: flex;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  flex: 1 0 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(180deg, #c06262 0%, #af3d3d 100%);
}

.map_injuredhospitals,
.map_injuredshelters {
  align-items: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.05);
  padding: 10px;
  z-index: 5;
  transition: margin-top 0.5s;
  text-align: left;
  margin-top: 10px;
}

.injuredhospitalshead,
.injuredsheltershead,
.precautionshead {
  color: #1e1e1e;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: bold;
  font-weight: 800;
}

.injuredhospitals_line,
.injuredshelters_line {
  height: 1px;
  align-self: stretch;
  fill: #000000;
}

.injuredhospital,
.injuredshelter {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.08);
  flex-direction: row;
  margin-bottom: 10px;
  cursor: pointer;
}

.injuredhospitals_list,
.injuredshelters_list {
  list-style-type: none;
  padding: 0;
}

.injuredhospitaldetails,
.injuredshelterdetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: auto;
  justify-content: center;
}

.injuredhospitaldetails p,
.injuredshelterdetails p {
  margin: 0;
  padding-bottom: 1px;
  padding-left: 5px;
}

.injuredhospitalnames,
.injuredshelternames {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.injuredhospitaldistance,
.injuredshelterdistance {
  color: #caa035;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.injuredhospitalstart, .injuredshelterstart {
  display: flex;
  flex-direction: row;
}

.load-more-button {
  display: flex;
  height: 38px;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #f2f2f2;
  width: 100%;
  border: none;
  cursor: pointer;
}
